---
title: "La veille du week-end"
layout: default
---

<div class="veille-archive">

  <h1 class="page-heading">Archive de la veille du week-end : </h1>

  <p>Chaque semaine, je compile les ressources que j'ai pu glâner sur la toile (principalement via Twitter).</p>
  <p><em>Cette veille peut vous être envoyée directement par email : <a href="/newsletter.html">inscrivez-vous</a></em>.</p>
  <p></p>
  <p>
    Fabien (<a href="https://twitter.com/frostys77">@frosty77</a>) a créé une web app pour lire cette veille. <br>
    La présentation y est bien moins austère qu'ici, et vous permet d'avoir plus facilement la veille dans votre poche ;) <br>
    Découvrez sa web app, <a href="https://v.loicg.net/">ici</a> .
  </p>

  <ul class="post-list">
    {% for post in site.categories["veille"] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.intro %}
            <p>{{ post.intro }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
